= form_for [@distace_record, DistanceRecord.new], remote: true, method: :post do |form|
  #error-explanation.alert.alert-danger{style: 'display: none'}
  .row
    .form-group.col-md-4
      = form.label :initial_point
      = form.text_field :initial_point, class: 'form-control', required: 'required', placeholder: "Santiago centro"
    .form-group.col-md-4
      = form.label :final_point
      = form.text_field :final_point, class: 'form-control', required: 'required', placeholder: "Viña del mar"
    .form-group.col-md-4
      = form.label :distance_in_between
      = form.text_field :distance_in_between, class: 'form-control', disabled: true
  .row
    .form-group.col-md-4.offset-md-4
      %button.btn.btn-block.btn-md.btn-outline-secondary{type: "button", onclick: 'clearSearchBtn()'}
        = I18n.t('views.commons.button.clean')
    .form-group.col-md-4
      = form.submit I18n.t('views.commons.button.save'), class: "btn btn-primary btn-block btn-md", disable_with: "Submitting..."

:javascript

  function clearInput(inputRef){
    document.getElementById(inputRef).value = ''
  }

  function clearSearchBtn(){
    clearInput('distance_record_initial_point');
    clearInput('distance_record_final_point');
    clearInput('distance_record_distance_in_between');
  }
