.table-responsive-sm
  %table.table
    %thead
      %tr
        %th #
        %th= I18n.t('views.distance_record.index.table_heads.initial_point')
        %th= I18n.t('views.distance_record.index.table_heads.final_point')
        %th= I18n.t('views.distance_record.index.table_heads.distance_in_between')
        %th= I18n.t('views.distance_record.index.table_heads.options')
    %tbody
      - distance_records.each_with_index do |distance_record, i|
        %tr
          %td= i+1
          %td= distance_record.initial_point
          %td= distance_record.final_point
          %td= distance_record.distance_in_between
          %td
            = link_to distance_record_path(distance_record), class: "no-underline", method: :delete, data: { confirm: I18n.t('views.distance_record.index.delete_question') } do
              %span.fa.fa-trash
  %br/
