.container
  .row
    .col-lg-10.offset-lg-1.col-sm-12
      .card
        .card-body
          %p#notice= notice
          %h1= I18n.t('views.distance_record.index.title')
          = render partial: "index", locals: {distance_records: @distance_records}
          .center
            = automated_paginater(@distance_records)
          = link_to I18n.t('views.distance_record.index.new_btn'), new_distance_record_path
